<table class="table table-hover">
  <thead>
    <button [routerLink]="['../rentcontracts/create']" mat-raised-button color="primary" matTooltip="Create new rent contract">New rent contract</button>

  <tr>
      <td>Unit</td>
      <td>Tenant</td>
      <td>Secondary tenants</td>
      <td>Start date</td>
      <td>End date</td>

      <td colspan="2">Actions</td>

  </tr>
  </thead>
  <tbody>
      <tr *ngFor="let item of arr | paginate: { itemsPerPage: count, currentPage: p, totalItems: totalItems } " >

          <td>{{item.unit}}</td>
          <td>{{ item.tenant }}</td>
          <td>{{ item.secondary_tenants }}</td>
          <td>{{ item.start_date }}</td>
          <td>{{ item.end_date }}</td>

           <td>  <a [routerLink]="['../rentcontracts/edit', item.id]" class="btn btn-primary">Edit</a></td>

          <!-- <a [routerLink]="['../rentcontracts/edit/', item.id]" class="btn btn-secondary " mat-raised-button matTooltip="update the rent contract">
            <i class="la la-arrow-left"></i>
            <span class="kt-hidden-mobile">update</span>
          </a> -->
          <td><a (click) = "deleteRentcontract(item.id)" class="btn btn-danger">Delete</a></td>
          <!-- <td><a [routerLink]="" class="btn btn-danger">Delete</a></td> -->
      </tr>
      <!-- <div>
        <input type="text" [(ngModel)]="searchText">
        <div *ngFor = "let item of arr |filter:searchText" >
          <p>
            {{item.id}}
          </p>
        </div>

    </div> -->
      <!-- <div class="mat-table__bottom">

  			<mat-spinner [diameter]="20" ></mat-spinner>

  			<mat-paginator [pageSize]="10" [pageSizeOptions]="[3, 5, 10]"  [showFirstLastButtons]="true"></mat-paginator>
  		</div> -->
  </tbody>

</table>
<div>
      <pagination-controls (pageChange)="loadData($event)"></pagination-controls>
  </div>
